*.c
*.js
!/json/bench/rt.js
*.gpu
/json/dist
/json/grounds-json
/json/bench/data/
/json/bench/gort-bin
/json/spec-grounds-json

/json/fails/

# moon
.moon/cache
.moon/docker
!/wire/effs/*.c
!/wire/effs/*.js
